@import 'tailwindcss';

@theme {
	--color-beige: #f7f3f0;
	--color-beige-300: #eee8e4;
	--color-gris-100: #f5f5f5;
	--color-gris-200: #e0e0e0;
	--color-gris-400: #bdbdbd;
	--color-gris-600: #757575;
	--color-gris-800: #333333;
	--color-gris-900: #212121;
	--font-display: 'DM Sans', sans-serif;
}

body {
	font-family: var(--font-display);
}
